@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(6.5px, -6.5px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: rgba(15, 15, 15, 0.9);
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding {
  background: rgba(22, 22, 22, 0.9);
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}
.menu-branding.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url("../img/portrait.jpg");
  border-radius: 50%;
  border: solid 3px #0d1117;
}
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item.current > a {
  color: #ff9148;
}
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 37px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  transform: scale(1.1);
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

* {
  box-sizing: border-box;
}

body {
  background: #0d1117;
  background-image: linear-gradient(to bottom right, #0d1117, #161b21);
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
#home h1.lg-heading {
  font-weight: 700;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 5rem;
  font-weight: 600;
}

#home h2.sm-heading span {
  color: #ff9148;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(73, 73, 73, 0.5);
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}

main#home {
  overflow: hidden;
}
main#home h1 {
  margin-top: 20vh;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage exp exp" "bio1 bio2 bio3";
  grid-template-columns: repeat(3, 1fr);
}
.about-info .bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #161b21 3px solid;
}

.about-info .exp span {
  color: #ff9148;
}

.about-info .bio span {
  color: #ff9148;
}

.about-info .exp {
  grid-area: exp;
  font-size: 1.5rem;
}
.about-info .bio-1 {
  grid-area: bio1;
}
.about-info .bio-2 {
  grid-area: bio2;
}
.about-info .bio-3 {
  grid-area: bio3;
}
.about-info .bio {
  background: #515151;
  padding: 0.5rem;
  border-bottom: #0d1117 5px solid;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.boxes div {
  font-size: 2rem;
  border: 3px #fff solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  transition: all 0.5s ease-out;
}
.boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: #0d1117;
  color: #ff9148;
}
.boxes div:hover span {
  color: #fff;
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    background: url("../img/portrait_small.jpg");
    width: 150px;
    height: 150px;
  }
  #home h1.lg-heading {
    font-size: 1.8rem;
    font-weight: 800;
    padding-bottom: 1rem;
  }
  #home .sm-heading {
    font-size: 1.2rem;
  }

  .about-info {
    grid-template-areas: "bioimage" "exp" "bio1" "bio2" "bio3";
    grid-template-columns: 1fr;
  }
  .about-info .exp {
    font-size: 1.2rem;
  }
  .boxes div {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 2rem;
  }
  main #home h1 {
    margin-top: 10vh;
  }
  main .lg-heading {
    margin-top: 1rem;
    font-size: 5rem;
  }
}
